<div class="bg-parallax parallax-overlay accounts-page bg-register"  data-jarallax='{"speed": 0.2}'>

	<div class="container">
		<div class="row pb30 align-items-center">
			<div class="col-lg-6 ml-md-auto col-md-6 col-sm-6 mb20" style="margin-right:auto;">
				<h3 class="text-white text-center mb30">Modifiez vos infos</h3>

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %> <i>(Laisser vide si vous ne souhaitez pas le changer)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: " nouveau password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "password confirmation" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %> <i>(mot de passe actuel pour confirmer)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: " mot de passe actuel" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Update", class: "form-control btn btn-rounded btn-primary btn-block" %>
  </div>
<% end %>
			<h3 style="color: #FFF">Supprimer mon compte</h3>

<p>Pas satisfait? <%= button_to "Supprimer mon compte", registration_path(resource_name), class: "btn btn-rounded btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back, class: "retour" %>
				
			</div>
			
		</div>
	</div>
</div>