<%= render 'item/navbar' %>
       
<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}' style='background-image: url("assets/bg6.jpg")'>
	<div class="container">
		<div class="row pb30 align-items-end">
			<div class="col-lg-4 ml-md-auto col-md-6 col-sm-6 mb20" style="margin-right:400px;">
				<h3 class="text-white text-center mb30">Rejoignez-nous</h3>

				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					<%= devise_error_messages! %>

						<div class="field form-group">
						<%= f.label :email %><br />
						<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
						</div>

						<div class="field form-group">
						<%= f.label :password %>
						<% if @minimum_password_length %>
						<em>(<%= @minimum_password_length %> characters minimum)</em>
						<% end %><br />
						<%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
						</div>

						<div class="field form-group">
						<%= f.label :password_confirmation %><br />
						<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
						</div>

						<div class="field form-group">
						<%= f.label :address %><br />
						<%= f.text_field :address, autocomplete: "address", class: "form-control" %>
						</div>

						<div class="actions form-group">
						<%= f.submit "Sign up", class: "form-control btn btn-rounded btn-primary btn-block" %>
						</div>

						<div class="text-center text-white-gray">Already have an account? SignIn below
							<%= render "devise/shared/links", class: "btn btn-white-outline btn-block" %>
						</div>
	
				<% end %>
				
			</div>
		</div>
	</div>
</div>