<div class="bg-parallax parallax-overlay accounts-page bg-register"  data-jarallax='{"speed": 0.2}'>
            <div class="container">
                <div class="row pb30">
                    <div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
                        <h3 class="text-white text-center mb30">Vous avez oublié votre password?</h3>
													<%= form_for(resource, as: 	resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
													<%= devise_error_messages! %>
  											
													<div class="field form-group">
														<%= f.label :email %><br />
														<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "adresse email" %>
													</div>

													<div class="actions form-group">
    												<%= f.submit "nouveau password", class: "form-control btn btn-rounded btn-primary btn-block" %>
  												</div>
												<% end %>
                    </div>
                </div>
            </div>
        </div>
