<h2>Panier</h2>

<div class="row">
  <ul>
    <% @cart.line_items.each do |ssss| %>
      <li><%= ssss.item.title %> (x <%= ssss.quantity %>)</li>
      <!-- total for line -->
      <span class="badge badge-info"><%= number_to_currency(ssss.total, unit: "€", separator: ",", format: "%n %u") %>
      <!-- total for cart -->
      <p class="font-weight-bold">Total : <span class="badge badge-info"><%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></span></p>
    <% end %>
  </ul>
  <div class="col"><%= link_to "Retour aux produits", root_path %></div>
   <div class="col"><%= button_to "Vider le panier", @cart, method: :delete, data: {
   confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %></div>
</div>
<div>
<%= button_to "Acheter", new_order_path, method: :get, class: "btn btn-primary" %></div>
     <%= link_to 'Edit', edit_cart_path(@cart) %>
<p id="notice"><%= notice %></p>
