<%= button_to "Vider le panier", @cart, method: :delete, data: {
confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %><p id="notice"><%= notice %></p>
<h2>Panier</h2>
<ul>
  <% @cart.line_items.each do |ssss| %>
    <li><%= ssss.item.title %> (x <%= ssss.quantity %>)</li>
  <% end %>
</ul>
<p><%= link_to "Retour aux produits", root_path %></p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
