<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceChatons</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   			<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<<<<<<< HEAD
   	<%= render 'layouts/navbar' %>
=======
    <p id="alert"><%= alert %></p>
   	<%= render 'items/navbar' %>
>>>>>>> df71c5d650a25d9a8783e34f422ffcf5bbadd3f2
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= yield(:end_script) %>
  </body>
</html>
